.container
  .row
    .col-md-8.col-md-offset-2
      .login-panel.panel.panel-default
        .panel-heading
          h3.panel-title Reset Password
        .panel-body
          .row
            .col-md-6
              .alert.alert-warning(ng-show='lpc.error')
                small {{ lpc.error }}
              form(role='form')
                fieldset
                  .form-group
                    input.form-control(placeholder='E-mail', name='email', type='email', ng-model='lpc.credentials.email', autofocus='')
                  a.btn.btn-lg.btn-success.btn-block(ng-click='lpc.reset()') Reset password
                .row
                  .col-sm-12
                    a(href='/login') Login Instead?
            .col-md-6
              div Login with:
              a.btn.btn-lg.btn-info.btn-block(href='#') Twitter
              a.btn.btn-lg.btn-primary.btn-block(href='#') Facebook
